USE [master]
GO
/****** Object:  Database [CarColorFrequency]    Script Date: 5/21/2026 2:34:47 PM ******/
CREATE DATABASE [CarColorFrequency]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarColorFrequency', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CarColorFrequency.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarColorFrequency_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CarColorFrequency_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarColorFrequency].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarColorFrequency]
GO
/****** Object:  Table [dbo].[ColorCount]    Script Date: 5/21/2026 2:34:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColorCount](
	[ColorCountPK] [int] IDENTITY(1,1) NOT NULL,
	[Count] [int] NOT NULL,
	[ColorDictFK] [int] NOT NULL,
 CONSTRAINT [PK_ColorCount] PRIMARY KEY CLUSTERED 
(
	[ColorCountPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColorDict]    Script Date: 5/21/2026 2:34:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColorDict](
	[ColorDictPK] [int] IDENTITY(1,1) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[BackgroundColorRGB] [int] NOT NULL,
	[ForegroundColorRGB] [int] NOT NULL,
 CONSTRAINT [PK_ColorDict] PRIMARY KEY CLUSTERED 
(
	[ColorDictPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ColorCount]  WITH CHECK ADD  CONSTRAINT [FK_ColorCount_ColorDict] FOREIGN KEY([ColorDictFK])
REFERENCES [dbo].[ColorDict] ([ColorDictPK])
GO
ALTER TABLE [dbo].[ColorCount] CHECK CONSTRAINT [FK_ColorCount_ColorDict]
GO
USE [master]
GO
